/* LXGW WenKai / 霞鹜文楷，SIL Open Font License 1.1。Vite 从 npm 依赖中打包到网站静态资源，不依赖 CDN。 */
@font-face{font-family:'LXGW WenKai';font-style:normal;font-display:swap;font-weight:300 600;src:url('@fontsource/lxgw-wenkai/files/lxgw-wenkai-latin-500-normal.woff2') format('woff2')}
@font-face{font-family:'LXGW WenKai';font-style:normal;font-display:swap;font-weight:700 900;src:url('@fontsource/lxgw-wenkai/files/lxgw-wenkai-latin-700-normal.woff2') format('woff2')}
